<div class="language-dropdown dropdown" data-language-currency-switcher>
    <button class="dropdown-toggle dropdown-label" data-toggle="dropdown">
        <span data-language-label></span>
    </button>
    <div class="dropdown-menu lang-menu" id="language-currency-switcher">
        <div class="dropdown-col" id="lang-switcher">
            <div class="dropdown-item dropdown-item--full">{{ 'general.language.title' | t }}</div>
            <div class="dropdown-divider"></div>
        </div>
        <div class="dropdown-col" id="lang-switcher">
            <div class="dropdown-item dropdown-item--full">{{ 'general.language.title' | t }}</div>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>