<div class="language-dropdown dropdown" data-language-switcher>
    <button class="dropdown-toggle dropdown-label" data-toggle="{{ dropdown }}" data-language-label title="{{ 'general.language.title' | t }}" aria-expanded="false">
    </button>
    <div class="lang-menu" id="lang-switcher">
        <div class="dropdown-item dropdown-item--full">{{ 'general.language.title' | t }}</div>
    </div>
</div>