<div id="product-quickview" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <a href="javascript:void(0)" aria-label="close" title="close" class="close">
            	<svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
            </a>
            <div class="modal-body padding-0">
            </div>
        </div>
    </div>
</div>