<h1 class="visually-hidden" style="position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(0 0 0 0);">{{ shop.name }}{% if shop.description != blank %} — {{ shop.description }}{% endif %}</h1>
{{ content_for_index }}
