{% render 'breadcrumb', breadcrumb_top: true %}
<div class="container">
    <div class="page page-default">
        <div class="section-header text-left">
            <h1 class="title title--large">{{ page_title }}</h1>
        </div>
        <div class="rte">
            {{ page.content }}
        </div>
    </div>
</div>
