{% comment %}
  	The contents of the search.liquid template can be found in /sections/search-template.liquid
{% endcomment %}

{% render 'breadcrumb', breadcrumb_top: true %}
<div class="container">
    {% section 'search-template' %}
</div>